html, body {
    margin: 0;
    background: linear-gradient(#4400f2, #000);
    overflow: hidden;
}

.aquatic {
    position: absolute;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAZtJREFUWEftltFxxCAMRO0Gro+rIP1/poLrww2QQUZEWiQh7Ju5mUz8k5wNq6cFCfbtw8++GL/A+NX5Q7hVgVKOU2N/nH8WE7gPUBUA4hbIlQy6C+9w4s8AXF6G2w7cXYZVACxDrwjSunVgFZ1NoMDl+6w9fPavo3+r/4tnpkuBZwDFCxz1AAESQjAAa+FgO/hTZbltr+YMv2+/M24QAGfYJkiIOQAHrylIsNdj46WJ3DgBakKaWoENVkOg/j1431r3UK6/APWTgCBXLMGZ/ZJW6h39/FAQJoDKGNZVQfFA3APy/fOgg8s7xDRAtK29tRbO0fQGzJZzYNGwAgfaMSsndSYJgBsOMpbBUEvsBRqmHBBn/Nl4oNp6uXkAkYOyO4l+1gGcC4YNkgwEtmOHJO0ZABnBM82lCWAgKdZRfUZ2Qq9l4jVML41VAXYnHHqA+cJISN2Ahg0GALDJWM49D6anVe+UTcoJQK543S7aMksAwU1Y3hMymp0pM/jtV3Esh1lRXc5uJpzehIkbUyaWOSazBJfFMxP/AT7uwA8O2K0e9YmJAQAAAABJRU5ErkJggg==');
    border-radius: 16px;
}

.seaweed {
    position: absolute;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAI1JREFUOE+tk9ENgCAMRGEV5zFxVhPnYRVNP84c11KN6JcFerz2Si2TX53ML/8LLPt6tu24hS02Sl1D7AhUwJJVhM90N5kqb+I/EgCVQ2VcJOoaX5TWmuGDruvB2wbCeiNxAhGuzgr35LNAaGNmFyj0TDgHKCOzD4LhKHMiW6kTafHwLTwlpgSjeqOXewEW4JgRibtV0wAAAABJRU5ErkJggg==');
}

.aquatic .statusBar {
    position: absolute;
    top: -5px;
    width: 32px;
    height: 2px;
}

.aquatic .statusBar .empty, .aquatic .statusBar .full {
    position: absolute;
    width: 100%;
    height: 100%;
}

.aquatic .statusBar .empty {
    background-color: red;
}

.aquatic .statusBar .full {
    background-color: green;
}

.audiomute {
    position: fixed;
    border: none;
    opacity: 0.5;
    left: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
}

.audiomute.off {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAVRJREFUWEfdl0sOgjAQhukVZIs7vP+BZCdbvAJmmpQM03lqgUQWJoa2/zfPDqm7+EkR/WUYV8/6fp7c57oWeoUpnAdEBfhWOAIiArQSLzCSN1iA1uIaRAWAxft52ry5DKMn/6o19AzqiR0AtRxvhpMtiNvruQG8749O2o8hQgASRBEGUXjgf0p1dIsBLIAUd2oFhqDCKNZVKKj3CsSGqSUeB7Gua1csxmoaMFmXtfOPlfWWSyOWUwg3QKbV42q6nWtQIQAJgqtPq2JgD+RBGMADIeVHEw/AIVyNl8PBcsgZLkH/B4BLRmzdoSGwxHEorMsjnISXlqEm/nMjsrrhEa141wc0gNMuIw7Ce7F4rmPzNvQAWO2VgkgTlTiQUIgWIxlXiiqAlZBWbVvv1ZkQb7ZmBEvIsry8P+XDpJQcB3Xop5km7PIAJY6ExfNdmGeLb2LZcs8Hvx0FMGtHMJ8AAAAASUVORK5CYII=')
}

.audiomute.on {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAR9JREFUWEfNl0ESwiAMRdsr6FZ3ev8D6U63egUdnAlD0/zwoQXsrp2U//iBEOZp8DOX6L9Olw8Tf3ze6XGpQFZYwzEgLkCtcAkIBNhLXGCQGybA3uIexAqglTiCWADUiB8et5jy9/nKbJIpTUc1gAiLaHjfBMDOXgvLlBEA+i4uRAdyAEiYAQgx2p0FgCWe5tYaQCfbS4Hnws+BHgDIhSYAVrosF0IamgCE2WrB4QAWVFcHhgNY66KrA10B/mIXpIUKVdGYAlSMmEFqS3H4rwggFbKqmrXPvfNjdRgxLniOIAB0RG8GyDnidSawISl1gWp/jCAXoDWE7o67teWy6rUhXS4mSDx8b3o184TFCQpAgnN9Y2ovcy+kHahd7cx/X+a0IDDp9yVCAAAAAElFTkSuQmCC')
}